#billTo
  width: 200px

.totals-label
  text-transform: uppercase
  text-align: right
  font-weight: bold

#total_row > td
  border: none
  padding-top: 20px

.blank-row-bg > td
  background-color: $body-bg

#timeEntryTable
  margin-top: 40px

.table
  & > thead > tr
    background-color: #2e6da4
    color: #fff

  .row-total
    background-color: lighten(#2e6da4, 50)
    vertical-align: middle
    text-align: center

.btn-bar
  margin-top: 40px

.description-col
  width: 50%

#total
